/* code */

.ch-codegroup {
  @apply shadow-xl ring-1 ring-inset ring-white ring-opacity-10 rounded-lg;
  @apply backdrop-blur bg-slate-900/70;
  @apply w-full;
}

.ch-code-scroll-parent {
  @apply leading-6 font-mono;
}

.ch-frame-buttons {
  @apply h-auto;
}

.ch-frame-button {
  @apply w-2.5 h-2.5 rounded-full border-none;
}

.ch-editor-tab {
  @apply hidden;
}

.ch-frame-title-bar {
  @apply border-b border-slate-500/30;
}

.ch-editor-frame,
.ch-frame-title-bar,
.ch-code-wrapper {
  @apply bg-transparent !important;
}

/* modern-features section */

.ch-spotlight {
  @apply flex-col h-auto gap-20;
}

.ch-spotlight-tabs {
  @apply flex-row;
}

.ch-spotlight-sticker {
  max-height: none !important;
  @apply static w-full h-auto  !important;
  @apply max-w-7xl flex-col-reverse mx-auto px-4 sm:px-6 md:px-8 lg:grid lg:grid-cols-12 lg:gap-8 !important;
}

.ch-spotlight-preview {
  @apply shadow-none lg:h-auto overflow-visible !important;
  @apply row-start-1 lg:col-span-5 xl:col-span-6 flex flex-col col-start-1;
}

.ch-spotlight .ch-codegroup {
  max-height: none !important;
  @apply row-start-1 mt-4 -mx-4 sm:mx-0 lg:mt-0 lg:col-span-7 xl:col-span-6 lg:col-start-6 xl:col-start-7 z-10;
}

.ch-spotlight-tabs {
  @apply flex gap-x-2 sm:px-0 xl:gap-x-6;
  @apply max-w-7xl w-full mx-auto px-8 gap-12 mt-6;
}

.ch-spotlight-tabs > :first-child {
  @apply hidden;
}

.ch-spotlight-tab {
  @apply p-0 m-0 border-none;
}

.ch-spotlight-tab[data-selected="true"] button {
  @apply text-indigo-400;
}

.ch-spotlight-tab[data-selected="true"] svg {
  @apply text-indigo-400 !important;
}

/* state-variants section */

.state-variants .ch-codegroup {
  @apply mt-4 -mx-4 sm:mx-0 lg:mt-0 lg:col-span-7 xl:col-span-6;
}

/* not-components section */

.not-components .ch-codegroup {
  @apply mt-4 -mx-4 sm:mx-0 lg:mt-0 lg:col-span-7 lg:row-end-2 xl:mt-16 xl:col-span-6 xl:row-span-2;
}

.not-components .ch-editor-tab {
  @apply flex;
}

.ch-scrollycoding {
	@apply m-0;
	min-height: calc(100vh - 1px);
}
.ch-scrollycoding-step-content {
	@apply text-gray-400 flex flex-col justify-center text-lg my-8 max-w-[480px];
}
.ch-scrollycoding-step-content[data-selected] {
	@apply text-white border-l-green-200 border-l-4 border-r-0 border-t-0 border-b-0 rounded-none pl-8;
}
.ch-scrollycoding-sticker {
	@apply max-w-[900px] min-w-[620px];
	top: 10vh;
}

.ch-section {
	@apply text-white text-lg;
}
.ch-section-link {
	@apply no-underline text-cyan-200;
}
code {
	@apply text-green-300;
}
.ch-section-link code{
	@apply no-underline;
}
.ch-scrollycoding-sticker .ch-editor-frame {
	height: 80vh !important;
	max-height: 80vh !important;
}