/* code */

.ch-codegroup {
  @apply shadow-xl ring-1 ring-inset ring-white ring-opacity-10 rounded-lg;
  @apply backdrop-blur bg-slate-900/70;
  @apply w-full;
}

.ch-code-scroll-parent {
  @apply leading-6 font-mono;
}

.ch-frame-buttons {
  @apply h-auto;
}

.ch-frame-button {
  @apply w-2.5 h-2.5 rounded-full border-none;
}

.ch-editor-tab {
  @apply hidden;
}

.ch-frame-title-bar {
  @apply border-b border-slate-500/30;
}

.ch-editor-frame,
.ch-frame-title-bar,
.ch-code-wrapper {
  @apply important:bg-transparent;
}

.ch-scrollycoding {
	@apply m-0;
	min-height: calc(100vh - 1px);
}
.ch-scrollycoding-content {
	@apply pb-[30vh]
}
.ch-scrollycoding-step-content {
	@apply text-gray-400 flex flex-col justify-center text-lg my-8 max-w-[480px];
}
.ch-scrollycoding-step-content[data-selected] {
	@apply text-white border-l-green-200 border-l-4 border-r-0 border-t-0 border-b-0 rounded-none pl-8;
}
.ch-scrollycoding-sticker {
	@apply max-w-[900px] min-w-[620px];
	top: 10vh;
}

.ch-section {
	@apply text-white text-lg;
}
.ch-section-link {
	@apply no-underline text-cyan-200;
}
code {
	@apply text-green-300;
}
.ch-section-link code{
	@apply no-underline;
}
.ch-scrollycoding-sticker .ch-editor-frame {
	height: 80vh !important;
	max-height: 80vh !important;
}